mesons-master/*~
mesons-master/doc/*.aux
mesons-master/doc/*.log
mesons-master/doc/*.dvi
mesons-master/doc/*.bak
mesons-master/doc/*~
mesons-master/build/*.o
mesons-master/build/*.d
mesons-master/build/mesons
mesons-master/build/tm_mesons
mesons-master/build/4fop_tm_mesons
mesons-master/build/deltaF2_4fop_3PointFunc
mesons-master/build/salg_tests
mesons-master/build/sflds_tests
mesons-master/tests/*~
mesons-master/tests/mesons
mesons-master/tests/*.mat
mesons-master/doc/beamercolorthemegoldengate.sty
mesons-master/doc/figs/
mesons-master/doc/zeuthen.nav
mesons-master/doc/zeuthen.out
mesons-master/doc/zeuthen.pdf
mesons-master/doc/zeuthen.snm
mesons-master/doc/zeuthen.tex
mesons-master/doc/zeuthen.tex.backup
mesons-master/doc/zeuthen.toc
mesons-master/doc/zeuthen.vrb
mesons-master/oB6/
mesons-master/M000/
mesons-master/build/solverPrec
mesons-master/oB7/
mesons-master/q.log
mesons-master/todo.txt
xsf-stuff/
python_analysis/plots/